* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  grid-template-rows: repeat(3, calc(15vh / 3)) repeat(5, 70px);
  grid-template-columns: repeat(4, 70px);
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  width: 350px;
  /* height: auto; */
  background-color: black;
  color: white;
  margin: 4rem auto;
  padding: 1.2rem;
  border-radius: 50px;
  justify-content: center;
}
.top {
  /* border: 2px solid red; */
  grid-area: 1 / 1 / 4 / 5;
}
.screen {
  text-align: right;
  position: relative;
  top: 75px;
  right: 10px;
  color: white;
}
.total {
  text-align: right;
  position: relative;
  top: 85px;
  right: 10px;
  color: rgb(151, 151, 151);
  font-size: 1.2rem;
}

.buttons {
  /* background-color: lightblue;
  border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.buttons:hover {
  opacity: 0.5;
}
.buttons:active {
  transform: scale(95%);
}
.button1 {
  grid-area: 4 / 1 / 5 / 2;
  background-color: rgb(162, 162, 162);
  color: black;
}

.button2 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: rgb(162, 162, 162);
  color: black;
}
.button3 {
  grid-area: 4 / 3 / 5 / 4;
  background-color: rgb(162, 162, 162);
  color: black;
}
.button4 {
  grid-area: 4 / 4 / 5 / 5;
  background-color: #f1a33c;
}
.button5 {
  grid-area: 5 / 1 / 6 / 2;
  background-color: rgb(56, 56, 56);
}
.button6 {
  grid-area: 5 / 2 / 6 / 3;
  background-color: rgb(56, 56, 56);
}
.button7 {
  grid-area: 5 / 3 / 6 / 4;
  background-color: rgb(56, 56, 56);
}
.button8 {
  grid-area: 5 / 4 / 6 / 5;
  background-color: #f1a33c;
}
.button9 {
  grid-area: 6/1/7/2;
  background-color: rgb(56, 56, 56);
}
.button10 {
  grid-area: 6/2/7/3;
  background-color: rgb(56, 56, 56);
}
.button11 {
  grid-area: 6/3/7/4;
  background-color: rgb(56, 56, 56);
}
.button12 {
  grid-area: 6/4/7/5;
  background-color: #f1a33c;
}
.button13 {
  grid-area: 7/1/8/2;
  background-color: rgb(56, 56, 56);
}
.button14 {
  grid-area: 7/2/8/3;
  background-color: rgb(56, 56, 56);
}
.button15 {
  grid-area: 7/3/8/4;
  background-color: rgb(56, 56, 56);
}
.button16 {
  grid-area: 7/4/8/5;
  background-color: #f1a33c;
}
.button17 {
  grid-area: 8/1/9/3;
  background-color: rgb(56, 56, 56);
  border-radius: 40px;
}
.button18 {
  grid-area: 8/3/9/4;
  background-color: rgb(56, 56, 56);
}
.button19 {
  grid-area: 8/4/9/5;
  background-color: rgb(56, 56, 56);
}
