
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    
}
header{
    height: 9%;
    background-color: black;
    color: white;
    font-size: 4rem;
    padding-left:2rem ;
    padding-top: 2rem;
    

}
header span{
    color: yellow;
}
.link{
    height: 5%;
    background-color: rgb(222, 201, 11);
}
.link a{
    border: 2px red solid;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    padding-left: 3rem;
    padding-right: 3rem;
}
.link a:hover{
    color: yellow;
    background-color: black;
}
.box{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 50%;
}